@mixin input {
    display: flex;
    align-items: center;

    width: 100%;
    height: 40px;

    border: none;
    border-radius: 5px;
    padding: 10px;

    background: white;

    &:focus {
        outline: thin solid rgba(#000000, 0.2);
    }
}
