@mixin emoji-box {
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 7px;

    margin-right: 24px;

    font-size: 32px;
}
